<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="BookClassConnectionString" connectionString="Data Source=(local);Initial Catalog=BookClass;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="BookClassConnectionString2" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=BookClass;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
  <appSettings>
    <add key="strconnection" value="Data Source=(local);database=BookClass;Integrated Security=SSPI;Max Pool Size=15000" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
	<system.web>
		<customErrors mode="Off"/>
	</system.web>
  
</configuration>
